#geral{
    width: 900px;
    margin: 0 auto;
}

#cabecalho{
    border-bottom: 3px solid black;
    text-align: center;
}

#cabecalho nav li{
    display: inline-block;
    color: black;
    font-size: 1.5rem;
}

#cabecalho nav li a{
    display: block;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    color: black;
}

#cabecalho nav li a:hover{
    color: orange   ;
}
#rodape{
    font-size: 1.5rem;
    color: black;
    padding: 20px;
    text-align: center;
    
}

#fac{
    text-align: center;
    
}

#content{
    
    border-bottom: 3px solid black;
    padding: 20px 30px 40px 30px;
}

#vd{
    text-align: center;
    margin-bottom: 50px;
}
